@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #111;
}

.container__title {
    position: relative;
    font-size: 10vw;
    color: #222;
}

.container__title::before {
    content: attr(data-text);
    position: absolute;
    width: 350px;
    color: #fff;
    white-space: nowrap;
    border-right: 4px solid #fff;
    overflow: hidden;
    animation: animate 8s linear infinite;
}

@keyframes animate {

    0%,
    50%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}